/* =HTML
 * -------------------------------------- */
body
{
	background: #202020 url('../../images/admin/background.jpg') repeat-x top center;
	color: #000;
}
a
{
	color: #1d84cb;
	text-decoration: none;
}
a:hover
{
	background: none;
	color: #1d84cb;
	text-decoration: underline;
}
table
{
	margin-top: 20px;
	width: 100%;
}
table td, table th
{
	padding: 5px;
}
table th
{
	text-align: left;
}
fieldset
{
	border: 1px solid #000;
	padding: 20px;
	margin: 25px 0;
}
/* =Typography
 * -------------------------------------- */
body, p, ol, ul, td
{
	font: 14px/1.4em Arial, Helvetica, sans-serif;
}
#branding
{
	color: #9993ab;
	font-weight: bold;
}
h1
{
	color: #666;
}
#content h2, #content h1
{
	margin-bottom: 10px;
}

/* =Behavorial Enhancements
 * -------------------------------------- */
.body
{
	padding-bottom: 20px;
}
#wrapper 
{
	position: absolute;
	top: 0;
	left: 0;
}
html, body, #wrapper
{
	min-height: 100%;
	width: 100%;
	height: 100%;
}
html>body, html>body #wrapper 
{
	height: auto;
}
.clearfix:after, 
.grid960:after, 
#branding:after, 
#header:after,
#nav:after,
.image-list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#content form
{
	margin-bottom: 20px;
}

/* =Header
 * -------------------------------------- */
#branding .version
{
	line-height: 55px;
}
#logo
{
	width: 100%;
	height: 55px;
	background: url(../../images/admin/akz_logo.png) no-repeat center right;
}
#logo a
{
	display: block;
	width: 100%;
	height: 100%;
}
#logo span
{
	display: none;
}
#title span
{
	display: none;
}
#header
{
	margin-top: 20px;
}
#header .page
{
	color: #ccc;
}
#title
{
	height: 30px;
	background: url(../../images/admin/title.png) no-repeat;
}
#user-info
{
	text-align: right;
}
#user-info .welcome
{
	line-height: 26px;
	color: #30ccff;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
}
#user-info .welcome a:active,
#user-info .welcome a:link,
#user-info .welcome a:visited
{
	color: #30ccff;
}
#user-info .welcome a:hover
{
	color: #fff;
}
#user-info .logout
{
	margin-left: 20px;
	display: inline-block;
	float: right;
	width: 71px;
	height: 27px;
	background: url(../../images/admin/logout.png) no-repeat;
	color: #fff;
	font-size: 12px; 
	line-height: 26px;
	text-align: left;
	padding-left: 15px;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
}


/* =Navigation
 * -------------------------------------- */
#nav
{
	margin: 20px 0 0 10px;
	height: 82px;
	width: 940px;
	background: url(../../images/admin/nav_header.png) no-repeat;
}
#nav ul li
{
	float: left;
	margin: 0 23px;
}
#nav a
{
	text-indent: -999px;
	display: block;
	overflow: hidden;
	height: 82px;
	background: url(../../images/admin/admin_icons.png) no-repeat;
}
#nav .dashboard
{
	width: 74px;
	background-position: -21px 0;
}

#nav .dashboard:hover
{
	background-position: -21px -88px;
}

#nav .users
{
	width: 42px;
	background-position: -142px 0;
}

#nav .users:hover
{
	background-position: -142px -88px;
}

#nav .products
{
	width: 60px;
	background-position: -231px 0;
}

#nav .products:hover
{
	background-position: -231px -88px;
}

#nav .news
{
	width: 40px;
	background-position: -372px 0;
}

#nav .news:hover
{
	background-position: -372px -88px;
}

#nav .rifles
{
	width: 40px;
	background-position: -491px 0;
}

#nav .rifles:hover
{
	background-position: -491px -88px;
}

#nav .settings
{
	width: 57px;
	background-position: -578px 0;
}

#nav .settings:hover
{
	background-position: -578px -88px;
}

#nav .profile
{
	width: 44px;
	background-position: -683px 0;
}

#nav .profile:hover
{
	background-position: -683px -88px;
}

#nav .history
{
	width: 50px;
	background-position: -775px 0;
}

#nav .history:hover
{
	background-position: -775px -88px;
}

#nav .support
{
	width: 54px;
	background-position: -871px 0;
}

#nav .support:hover
{
	background-position: -871px -88px;
}

#nav .selected
{
	background-position-y: -88px;
}

/* =Content
 * -------------------------------------- */
#main
{
	margin-left: 10px;
	float: left;
	background: url(../../images/admin/main_bg.jpg) repeat-y;
}
#main h2
{
	font-size: 1.4em;
	color: #777;
	letter-spacing: 1px;
}
#container
{
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	margin: 0;
	margin-left: 2px;
	padding-right: 17px;
	float: right;
}
#content
{
	padding: 25px;
	padding-right: 5px;
}
/* =Sidebar
 * -------------------------------------- */
#sidebar
{
	margin: 0;
}
#sidebar ul
{
	margin: 0;
	padding-bottom: 20px;
}
#sidebar li a
{
	color: #999;
	display: block;
	border-top: 1px solid #4a556a;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#sidebar li a:hover
{
	color: #fff;
	text-decoration: none;
}
#sidebar li
{
	border-top: 1px solid #282e39;
	height: 40px;
}
#sidebar li .selected
{
	border: none;
	margin-top: 1px;
	position: absolute;
	width: 250px;
	background: url(../../images/admin/selected_nav_item.jpg) no-repeat;
	color: #fff;
}

/* =Login
 * -------------------------------------- */
.login-body
{
	margin: 100px auto;
	width: 510px;
	color: #fff;
}
.login-form
{
	margin: 20px auto;
	background: url(../../images/admin/admin_login.jpg) no-repeat;
	width: 322px;
	height: 264px;
}
.login-form h1
{
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
	color: #444444;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
	padding-top: 15px;
	text-align: center;
}
.login-form .container
{
	padding: 20px;
}
.login-form label
{
	position: absolute;
	color: #5a5a73;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	line-height: 32px;
	margin-left: 3px;
}
.login-form form
{
	margin-left: 40px;
}
.login-form .email
{
	margin-top: 18px;
	margin-bottom: 16px;
}
.login-form .email input,
.login-form .pw input
{
	line-height: 26px;
	width: 230px;
	font-size: 1.6em;
	color: #8696a9;
	background: none;
	border: none;
}
.login-form .actions
{
	margin-top: 22px;
	margin-left: -44px;
}
.login-form .submit, .login-form .home
{
	background: url(../../images/admin/login_button.jpg) no-repeat;
	border: none;
	width: 109px;
	height: 33px;
	display: block;
	text-align: left;
	color: #fff;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
	font-size: 1.1em;
	padding-left: 15px;
	cursor: pointer;
	float: left;
}
.login-form .home
{
	float: right;
	line-height: 33px;
	text-decoration: none;
	background-position: 0 -45px;
	margin-right: -20px;
}
.login-form #alert
{
	color: #c00;
	background: #ffded8;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #c00;
}
.login-form .messages
{
	height: 32px;
}
/* =Form Elements
 * -------------------------------------- */
.data-table
{
	width: 100%;
}
.data-table .actions
{
	width: 100px;
	padding-right: 30px;
	text-align: right;
}
.data-table .actions span
{
	cursor: pointer;
}
.data-table .actions .delete
{
	margin-left: 5px;
}
.data-table .actions .edit
{
	margin-left: 5px;
}
.data-table th
{
	background: #ccc;
}
.data-table .odd td
{
	background: #f0f0f0;
}
.data-table .add-row td
{
	background: none;
}
.add-row em
{
	visibility: hidden;
	text-decoration: underline;
	cursor: pointer;
}
.add-entry, .remove-entry
{
	padding: 1px 4px;
	font-weight: bold;
	width: 15px;
	cursor: pointer;
}
.add-entry
{
	margin-right: 6px;
}
.remove-entry
{
}
textarea
{
	width: 100%;
}
textarea
{
	height: 70px;
}
.mceEditor
{
	height: 400px;
}

/* =Image List
 * -------------------------------------- */
.image-list
{
	margin-bottom: 25px;
}
.image-list li
{
	float: left;
	padding: 3px;
	background: #fff;
	border: 1px solid #CCC;
	position: relative;
	margin: 5px;
}
.image-list li:hover a
{
	display: block;
}
.image-list li .caption
{
	display: block;
	text-align: center;
	font-size: 9px;
	color: #777;
}
.image-list img
{
	display: block;
}
.image-list a
{
	display: block;
	position: absolute;
	text-decoration: none;
	background: #fff;
	color: #555;
	width: 20px;
	line-height: 20px;
	text-align: center;
	display: none;
}
.image-list .delete
{
	right: 0;
	font-weight: bold;
}
.image-list .edit
{
	font-weight: bold;
	right: 0;
	top: 30px;
}
.image-list .select
{
	top: 30px;
	content: '\2729';
}
.image-list .selected
{
	content: '\272D';
}
.product-list .name
{
	width: 55%;
}

