/* =HTML
 * -------------------------------------- */
body
{
	background: #1b1b1b url('../images/header_bg.jpg') no-repeat top center;
	/* background: #1b1b1b url('../images/banner_bg.png') repeat-x top center; */
	color: #999;
}
a
{
	color: #919191;
	text-decoration: none;
}
a:hover
{
	background: none;
}
table
{
	margin-top: 20px;
	width: 100%;
}
table td
{
	padding: 5px;
}
/* =Typography
 * -------------------------------------- */
body, p, ol, ul, td
{
	font: 14px/1.4em Arial, Helvetica, sans-serif;
}

h1, 
h2
{
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
}

h2
{
	font-size: 1.2em;
}

/* =Behavorial Enhancements
 * -------------------------------------- */
.body
{
	padding-bottom: 250px;
}
#wrapper 
{
	position: absolute;
	top: 0;
	left: 0;
}
html, body, #wrapper
{
	min-height: 100%;
	width: 100%;
	height: 100%;
}
html>body, html>body #wrapper 
{
	height: auto;
}
.clearfix:after, 
.grid960:after, 
.product-info:after, 
.product-images:after, 
.products-category:after, 
.related-products li:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix, 
* html .product-info, 
* html .product-images, 
* html .products-category, 
* html .related-products, 
* html .related-products li 
{ 
	zoom: 1; 
} /* IE6 */
*:first-child+html .clearfix,
*:first-child+html .product-info,
*:first-child+html .product-images,
*:first-child+html .product-category,
*:first-child+html .related-products,
*:first-child+html .related-products li { 
	zoom: 1; 
} /* IE7 */

/* =Header
 * -------------------------------------- */
/* #banner
{
	background: #161616;
	width: 100%;
	height: 180px;
} */
#header, #contact
{
	height: 160px;
}
#logo
{
	height: 100%;
	width: 100%;
	background: url(../images/logo.png) no-repeat center left;
}
#logo a
{
	display: block;
	width: 100%;
	height: 100%;
}
#logo span
{
	display: none;
}
#contact
{
	padding-top: 56px;
}
#contact .phone-number,
#contact .email
{
	font-size: 1.2em;
	color: #9b9b9b;
	background: url(../images/icons.png) no-repeat;
	line-height: 20px;
	font-weight: bold;
	padding-left: 30px;
	float: left;
	margin-bottom: 20px;
}
#contact .email
{
	float: right;
	background-position: 0 -22px;
	clear: right;
}
#contact .address, 
#contact .fax
{
	font-size: 0.9em;
}
#contact .address
{
	clear: both;
	float: left;
}
#contact .fax
{
	float: right;
	width: 177px;
}

/* =Navigation
 * -------------------------------------- */
#nav
{
	margin-bottom: 20px;
}
#nav a
{
	display: block;
	padding: 10px;
	border-left: 3px solid #9e9e9e;
}
#nav .selected
{
	border-left: 3px solid #9f012a;
	background: #333;
	background: -moz-linear-gradient(left, rgba(53,53,53,1) 0%, rgba(41,41,41,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,53,53,1)), color-stop(100%,rgba(41,41,41,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(53,53,53,1) 0%,rgba(41,41,41,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(53,53,53,1) 0%,rgba(41,41,41,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(53,53,53,1) 0%,rgba(41,41,41,0) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#00292929',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(53,53,53,1) 0%,rgba(41,41,41,0) 100%); /* W3C */
	color: #fff;
}
#nav ul ul li
{
	border: 0;
}
#nav ul ul li a
{
	color: #999999;
    padding-left: 20px;
}
#nav ul ul li ul li a
{
	color: #ccc;
	padding-left: 40px;
}
#nav ul ul a
{
	font-size: 0.9em;
	padding: 4px 20px;
}     
#nav a:hover
{
	color: #fff;
	border-left-color: #eee;
	background: #151515;
}      
#nav span
{
	padding: 0;
	margin: 0;
	border-left: 3px solid #9e9e9e;
	display: block;
	height: 8px;
}
/* =Content
 * -------------------------------------- */
#content
{
}
#main
{
	padding-top: 10px;
}
#main h2
{
	font-size: 1.4em;
	color: #777;
	letter-spacing: 1px;
}
/* =Footer
 * -------------------------------------- */
#footer
{
	position: absolute;
	bottom: 0;
	background: #161616;
	min-height: 170px;
	width: 100%;
}
#footer .title
{
	color: #fff;
	font-size: 2.5em;
	line-height: 1.8em;
	font-weight: 200;
}
#footer .nav ul
{
	float: right;
}
#footer .nav li
{
	float: left;
	margin: 0 20px;
	line-height: 70px;
}
#footer .nav li:first-child
{
	margin-left: 0;
}
#footer .nav li:last-child
{
	margin-right: 0;
}
#footer .top
{
	height: 70px;
}
#footer .border
{
	border-bottom: 1px solid #9a2828;
}
#footer .bottom
{
	padding-top: 20px;
}
#footer .contact
{
	color: #444;
}
#footer .contact .left
{
	float: left;
}
#footer .contact .right
{
	float: right;
}
#footer .products li
{
	float: left;
	line-height: 1.6em;
	margin: 0 10px;
}

/* =Page Home
 * -------------------------------------- */
.rifles-list
{
	margin-top: 20px;
	list-style: none;
}
.rifles-list li
{
	text-align: center;
	margin-top: 20px;
	position: relative;
}
.rifles-list img
{
	border: 4px solid #fff;
}
.rifles-list a
{
	background: #2f2f2f;
	padding: 6px 0 6px;
	color: #999;
	text-transform: capitalize;
	display: block;
}
.rifles-list a:hover
{
	background: #000000;
	color: #9F012A;
	text-decoration: underline;
}
.rifles-list li:hover .fancybox
{
	display: block;
}

.rifles-list .fancybox,
.rifles-list .fancybox:hover
{
	background: #fff;
	color: #333;
	position: absolute;
	line-height: 12px;
	width: 18px;
	left: 8px;
	top: 8px;
	text-decoration: none;
	display: none;

}
.news-list a
{
	color: #cd012a;
}
.news-list a:hover
{
	text-decoration: underline;
}
.news-list li
{
	padding: 20px 0;
	border-bottom: 1px dashed #777;
}
.news-list .last
{
	padding: 0;
	border-bottom: 0;
	background: #181818;
	margin-top: 20px;
}
.news-list .last a
{
	display: block;
	padding: 15px 10px;
}
.news-list .last a:hover
{
	background: #151515;
}
/* =Product
 * -------------------------------------- */
.product-page h1
{
	font-size: 2em;
	line-height: 1em;
	font-weight: normal;
	text-transform: capitalize;
	color: #cd012a;
}
.product-page h1 a
{
	font-size: 0.4em;
	font-weight: normal;
	padding-left: 10px;
	color: #777;
}
#main .product-page h2
{
	font-size: 1em;
}
.product-info
{
	margin-top: 40px;
}
.product-info .prices
{
	margin-bottom: 20px;
}
.product-info .prices span
{
	float: right;
	color: #cd012a;
}
.product-info .product-image
{
	float: left;
	padding: 0 20px 5px 0;
}
.product-info .product-image p
{
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}
.product-info .product-image img
{
	border: 2px solid #fff;
}
.product-page .short-description
{
	font-size: 0.9em;
	margin-bottom: 20px;
	color: #666;
}
.product-page .long-description
{
	margin-top: 20px;
}
.product-page .long-description p
{
	line-height: 1.7em;
}
.product-page h3
{
	text-transform: capitalize;
	margin-top: 40px;
}
.product-page .images
{
	margin: 20px 0;
}
.product-page .product-images
{
	background: #101010;
	padding: 10px 15px;
	margin: 20px -5px;
}
.product-page .product-images li
{
	float: left;
	margin: 5px;
}
.product-page .product-images a
{
	display: block;
}
.product-page .product-images img
{
	border: 2px solid #fff;
}
.product-page .price
{
	margin: 40px 0;
}
.product-page .price span
{
	font-weight: bold;
	color: #ccc;
}
.product-page .price a
{
	color: #555;
	font-size: 0.9em;
}
.product-page .price a:hover
{
	color: #ccc;
}
.product-page .sharing
{
	padding-bottom: 20px;
	margin-top: 40px;
}
.product-page .data
{
	margin-top: 40px;
	padding: 5px;
	border: 1px solid #cd012a;
}
.product-page .data h3
{
	margin-top: 8px;
}
.product-page .data-table
{
	background: #cd012a;
}
.product-page .data-table td
{
	border-bottom: 1px solid #000;
}
.product-page .data-table .label
{
	color: #fff;
	border-right: 3px solid #000;
}
.product-page .data-table .value
{
	font-weight: bold;
	color: #eee;
}
/* =Category Page
 * -------------------------------------- */
.cat-page .breadcrumb
{
	text-transform: capitalize;
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 40px;
}
.products-category
{
	margin: 0 -10px 40px -10px;
}
.products-category li
{
	float: left;
	text-align: center;
	margin: 10px;
}
.products-category a
{
	display: block;
}
/* =Products Listing
 * -------------------------------------- */
#main .products-index h1
{
	margin-bottom: 40px;
}
#main .products-index h2
{
	font-size: 1.2em;
}
/* =Pages
 * -------------------------------------- */
.page h1
{
	margin-bottom: 20px;
	color: #cd012a;
}

.page .content p
{
	line-height: 1.9em;
}
.page .photo-album
{
	margin: 20px -10px 0 -10px;
}
.page .photo-album li
{
	float: left;
	margin: 10px;
}
.page .photo-album li a
{
	display: block;
}
.page .photo-album li img
{
	border: 4px solid #fff;
}
/* =News Story
 * -------------------------------------- */
.news-story h1
{
	color: #cd012a;
}
.news-story span
{
	display: block;
	margin-bottom: 20px;
}
.news-story .content,
.news-story p
{
	line-height: 1.6em;
	margin-bottom: 20px;
}
.news-story .related
{
	margin-top: 20px;
}
.news-story .related ul
{
	margin-top: 20px;
}
.news-story img
{
	float: left;
	margin-right: 20px;
}
.news-story h3
{
	text-decoration: underline;
	margin-bottom: 10px;
	font-size: 1.2em;
}
