<div class="col-9 news-page">
	<ul>
		<% @news.each do |story| %>
		<li>
			<h1><%= link_to story.title, story %></h1>
			<span><%= story.created_at.strftime( '%B %d, %Y' ) %></span>
			<p class="content">
			<%= story.content.html_safe %>
			</p>
		</li>
		<% end %>
	</ul>
	<%= paginate @news %>
</div>
