<h1>Editing Rifle Category</h1>

<%= render 'admin/rifle_categories/form' %>

<%= link_to 'Show', admin_rifle_category_path( @admin_product_category ) %> |
<%= link_to 'Back', admin_rifle_categories_path %>
