<div id="branding">
	<div class="col-9">
		<span class="version"><a href="<%= root_url %>"><img src="/images/admin/home.png" alt="home" /></a>&nbsp;&nbsp;&nbsp; Aetkinz Admin Panel 0.1</span>
	</div><!-- .col-9 -->
	<div class="col-3">
		<div id="logo"><a href="http://aetkinzstudios.com" target="_blank"><span>Aetkinz Design, Inc.</span></a></div>
	</div><!-- .col-3 -->
</div><!-- #branding -->
