<div id="footer">
	<div class="grid960">
		<div class="top">
			<div class="col-4">
				<a href="/" class="title">Pierce Engineering</a>
			</div>
			<div class="nav col-8">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Rifles</a></li>
					<li><a href="#">Tube Guns</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div><!-- .col-8 -->
		</div><!-- .top -->
		<div class="border col-12">
		</div><!-- .border .col-12 -->
		<div class="bottom">
			<div class="contact col-4">
				<div class="left">
					jpierceltd@tds.net<br>
					tel: (517) 321-5051<br>
					fax: (517) 321-4574
				</div><!-- .left -->
				<div class="right">
					PIERCE Engineering<br>
					5122 North Grand River<br>
					Lansing, MI 48906
				</div><!-- .right -->
			</div><!-- .contact .col-4 -->
			<div class="products col-8" -->
				<ul>
					<li><a href="#">Pierce Action</a></li>
					<li><a href="#">Pierce Detachable Magazine Bottom Metal</a></li> 
					<li><a href="#">MI Multi-Flat Competition Action</a></li> 
					<li><a href="#">Recoil Lug</a></li> 
					<li><a href="#">Pierce Scope Rings</a></li> 
					<li><a href="#">Pierce Tactical Rail</a></li> 
					<li><a href="#">Pierce Tactical Bolt Knob</a></li> 
					<li><a href="#">Pierce Trigger Guards</a></li> 
					<li><a href="#">Percision Firing Pin Assembly</a></li> 
					<li><a href="#">Silencers</a></li> 
					<li><a href="#">Tube Gun Action</a></li>
				</ul>
			</div><!-- .products .col-8 -->
		</div><!-- .bottom -->
	</div><!-- .grid960 -->
</div><!-- #footer -->
