<div id="sidebar" class="col-3">
	<ul>
		<li><a href="#">Add Product</a></li>
		<li><a href="#" class="selected">List Products</a></li>
		<li><a href="#">Add Product</a></li>
		<li><a href="#">Add Product</a></li>
	</ul>
</div><!-- #sidebar .col-3 -->
