<div class="col-9 products-index <%= @product_type %>">
	<h1><%= @product_type %>s</h1>
	<ul>
		<% @categories.each do |category| %>
		<li>
			<h2><%= category.name %></h2>
			<%= render '/product_categories/category', :category => category %>
		</li>
		<% end %>
	</ul>
	
</div>


